lavanderia-workflow.json
{
  "name": "Lavanderia - Ledger Processing",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lavanderia Ledger Upload",
        "formDescription": "Upload a scanned ledger page (JPG, PNG) or a multi-page PDF where each page is one day.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ledger File",
              "fieldType": "file",
              "requiredField": true,
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "id": "node-01-form-trigger",
      "name": "Upload Ledger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 300],
      "webhookId": "lavanderia-upload-001"
    },
    {
      "parameters": {
        "jsCode": "// Extract the uploaded file and prepare the Gemini API request body\nconst item = $input.first();\nconst binaryKey = Object.keys(item.binary)[0];\nconst binary = item.binary[binaryKey];\nconst mimeType = binary.mimeType || 'image/jpeg';\nconst fileData = binary.data; // already base64 encoded by n8n\n\nconst prompt = `You are analyzing a handwritten laundry business ledger page.\n\nReturn ONLY valid JSON matching this exact structure — no explanation, no markdown:\n\n{\n  \"pages\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"sale_total\": 0,\n      \"entries\": [\n        {\n          \"invoice_id\": \"L-XXXXX\",\n          \"amount\": 0,\n          \"payment_method\": \"cash\",\n          \"ocr_confidence\": 85\n        }\n      ],\n      \"failed\": false,\n      \"fail_reason\": \"\"\n    }\n  ]\n}\n\nRules:\n1. date: the date written at the top of the page, in YYYY-MM-DD format.\n2. sale_total: ONLY the number written next to the word SALE at the bottom of the page. Ignore all other numbers such as costs or other totals.\n3. Each line on the page is one payment entry:\n   - invoice_id: the invoice number starting with L- (example: L-33115)\n   - amount: the number at the end of the line\n   - payment_method: use \"card\" if the line ends with the letter M, \"link\" if it ends with the letter L, \"cash\" if there is no letter at the end\n   - ocr_confidence: a number from 0 to 100 representing how clearly you could read this specific line\n4. If a page cannot be read at all, set failed to true and explain in fail_reason.\n5. For a PDF with multiple pages, return one object per page inside the pages array.\n\nReturn ONLY the JSON. Nothing else.`;\n\nreturn [{\n  json: {\n    mimeType,\n    fileData,\n    prompt\n  }\n}];"
      },
      "id": "node-02-prepare-request",
      "name": "Prepare Gemini Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"contents\":[{\"parts\":[{\"inline_data\":{\"mime_type\":\"{{ $json.mimeType }}\",\"data\":\"{{ $json.fileData }}\"}},{\"text\":\"{{ $json.prompt }}\"}]}],\"generationConfig\":{\"responseMimeType\":\"application/json\"}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-03-gemini-api",
      "name": "Gemini Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "REPLACE_WITH_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Gemini API response and extract structured data\nconst item = $input.first();\nconst response = item.json;\n\nif (!response.candidates || response.candidates.length === 0) {\n  throw new Error('Gemini returned no candidates. Response: ' + JSON.stringify(response).substring(0, 300));\n}\n\nconst text = response.candidates[0].content.parts[0].text;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  throw new Error('Gemini response is not valid JSON. Got: ' + text.substring(0, 300));\n}\n\nconst pages = parsed.pages || [];\n\nreturn [{\n  json: {\n    pages,\n    total_pages: pages.length,\n    failed_pages: pages.filter(p => p.failed).length\n  }\n}];"
      },
      "id": "node-04-parse-response",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1JGhwuigFr9_REdFbPZKYsAhJB8AfjwdhNNELTAcz8h0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1275638719",
          "mode": "url"
        },
        "filtersUI": {},
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "node-05-read-orders-db",
      "name": "Read Orders DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all 40k DB rows into a single item with a row number for each row.\n// Row 1 is the header, so data starts at row 2.\nconst allRows = $input.all().map((item, index) => ({\n  ...item.json,\n  _row_number: index + 2\n}));\n\nreturn [{\n  json: {\n    dbRows: allRows\n  }\n}];"
      },
      "id": "node-06-aggregate-db",
      "name": "Aggregate DB Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 520]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MATCHING ENGINE\n// Receives: aggregated DB rows as input\n// Reads: parsed pages from 'Parse Gemini Response' node\n// ============================================================\n\n// IMPORTANT: These must match the exact column headers in your Orders DB sheet.\n// Adjust these if your column names are different.\nconst COL_LEGACY_ID       = 'Legacy ID';\nconst COL_ORDER_ID        = 'Order ID';\nconst COL_INVOICE_DATE    = 'Invoice Date';\nconst COL_AMOUNT_PAID     = 'Amount Paid (AED)';\nconst COL_TOTAL_DISCOUNT  = 'Total After Discount (AED)';\nconst COL_REMAINING       = 'Remaining Balance (AED)';\nconst COL_METHOD          = 'Payment Method(s)';\nconst COL_PAYMENT_DATE    = 'Payment Date(s)';\n\nconst dbData = $input.first().json;\nconst allDbRows = dbData.dbRows;\n\nconst parsedData = $('Parse Gemini Response').first().json;\nconst pages = parsedData.pages || [];\n\nconst matchResults   = [];\nconst parsedEntries  = [];\nconst salesValidation = [];\nconst dbUpdates      = [];\n\nfor (const page of pages) {\n\n  // --- Failed page: skip matching, log in sales validation ---\n  if (page.failed) {\n    salesValidation.push({\n      Date: page.date || 'UNKNOWN',\n      'Parsed Sale Total': 'FAILED',\n      'DB Sale Total': '',\n      Match: 'FAILED',\n      Diff: '',\n      Note: page.fail_reason || 'Page could not be read'\n    });\n    continue;\n  }\n\n  const pageDate    = page.date;\n  const pageDateObj = new Date(pageDate);\n\n  // --- TASK 2: Sales Validation ---\n  const dbRowsForDate = allDbRows.filter(row => {\n    if (!row[COL_INVOICE_DATE]) return false;\n    return new Date(row[COL_INVOICE_DATE]).toDateString() === pageDateObj.toDateString();\n  });\n\n  const dbSaleTotal = dbRowsForDate.reduce((sum, row) => {\n    return sum + (parseFloat(row[COL_TOTAL_DISCOUNT]) || 0);\n  }, 0);\n\n  const parsedSaleTotal = parseFloat(page.sale_total) || 0;\n  const saleDiff = Math.abs(dbSaleTotal - parsedSaleTotal);\n\n  salesValidation.push({\n    Date: pageDate,\n    'Parsed Sale Total': parsedSaleTotal,\n    'DB Sale Total': Math.round(dbSaleTotal * 100) / 100,\n    Match: saleDiff <= 1 ? 'YES' : 'NO',\n    Diff: Math.round(saleDiff * 100) / 100\n  });\n\n  // --- TASK 1: Match each entry ---\n  for (const entry of (page.entries || [])) {\n\n    parsedEntries.push({\n      Date: pageDate,\n      'Order ID': entry.invoice_id,\n      'Payment Method': entry.payment_method,\n      'Amount Parsed': entry.amount,\n      'Confidence Score': entry.ocr_confidence\n    });\n\n    // CONTROLLER 1: Exact match on Legacy ID\n    const exactMatches = allDbRows.filter(row =>\n      (row[COL_LEGACY_ID] || '').trim() === (entry.invoice_id || '').trim()\n    );\n\n    if (exactMatches.length === 0) {\n      matchResults.push({\n        'Page Date': pageDate,\n        'Parsed Invoice ID': entry.invoice_id,\n        'DB Order ID': '',\n        'DB Legacy ID': '',\n        'Payment Method (Page)': entry.payment_method,\n        'Payment Method (DB)': '',\n        'Method Match': 'NO',\n        'Amount (Page)': entry.amount,\n        'Amount (DB)': '',\n        'Amount Match': 'NO',\n        'Total After Discount (DB)': '',\n        'Remaining Balance (DB)': '',\n        'Payment Date (Current)': '',\n        'Payment Date (To Update)': pageDate,\n        'Match Status': 'NO_MATCH',\n        'Flag Reason': 'Invoice ID not found in database',\n        'Confidence Score': 0\n      });\n      continue;\n    }\n\n    // CONTROLLER 2: Date window — 6 months back, extend to 12 and flag\n    const sixMonthsBack   = new Date(pageDateObj); sixMonthsBack.setMonth(sixMonthsBack.getMonth() - 6);\n    const twelveMonthsBack = new Date(pageDateObj); twelveMonthsBack.setMonth(twelveMonthsBack.getMonth() - 12);\n\n    let dateWindowFlag = false;\n    let candidates = exactMatches.filter(row => {\n      if (!row[COL_INVOICE_DATE]) return false;\n      const d = new Date(row[COL_INVOICE_DATE]);\n      return d >= sixMonthsBack && d <= pageDateObj;\n    });\n\n    if (candidates.length === 0) {\n      candidates = exactMatches.filter(row => {\n        if (!row[COL_INVOICE_DATE]) return false;\n        const d = new Date(row[COL_INVOICE_DATE]);\n        return d >= twelveMonthsBack && d <= pageDateObj;\n      });\n      if (candidates.length > 0) dateWindowFlag = true;\n    }\n\n    if (candidates.length === 0) {\n      matchResults.push({\n        'Page Date': pageDate,\n        'Parsed Invoice ID': entry.invoice_id,\n        'DB Order ID': '',\n        'DB Legacy ID': '',\n        'Payment Method (Page)': entry.payment_method,\n        'Payment Method (DB)': '',\n        'Method Match': 'NO',\n        'Amount (Page)': entry.amount,\n        'Amount (DB)': '',\n        'Amount Match': 'NO',\n        'Total After Discount (DB)': '',\n        'Remaining Balance (DB)': '',\n        'Payment Date (Current)': '',\n        'Payment Date (To Update)': pageDate,\n        'Match Status': 'NO_MATCH',\n        'Flag Reason': 'Invoice found but outside 12 month window',\n        'Confidence Score': 0\n      });\n      continue;\n    }\n\n    // CONTROLLER 3: Score each candidate by amount (±1 AED) and payment method\n    let bestMatch = null;\n    let bestScore = -1;\n\n    for (const row of candidates) {\n      let score = 0;\n      const dbAmount    = parseFloat(row[COL_AMOUNT_PAID]) || 0;\n      const entryAmount = parseFloat(entry.amount) || 0;\n      if (Math.abs(dbAmount - entryAmount) <= 1) score++;\n      const dbMethod = (row[COL_METHOD] || '').toLowerCase().trim();\n      if (dbMethod === entry.payment_method) score++;\n      if (score > bestScore) { bestScore = score; bestMatch = row; }\n    }\n\n    // Build flags\n    const flags       = [];\n    const dbAmount    = parseFloat(bestMatch[COL_AMOUNT_PAID]) || 0;\n    const entryAmount = parseFloat(entry.amount) || 0;\n    const amountMatch = Math.abs(dbAmount - entryAmount) <= 1;\n    const dbMethod    = (bestMatch[COL_METHOD] || '').toLowerCase().trim();\n    const methodMatch = dbMethod === entry.payment_method;\n\n    if (dateWindowFlag) flags.push('Date window >6m');\n    if (!amountMatch)   flags.push(`Amount: page=${entry.amount} DB=${bestMatch[COL_AMOUNT_PAID]}`);\n    if (!methodMatch)   flags.push(`Method: page=${entry.payment_method} DB=${bestMatch[COL_METHOD]}`);\n    if ((entry.ocr_confidence || 0) < 80) flags.push(`Low OCR conf (${entry.ocr_confidence}%)`);\n\n    // Confidence score: OCR 60% + Amount 15% + Method 15% + Date 10%\n    const ocrScore    = (entry.ocr_confidence || 0) * 0.60;\n    const amountScore = amountMatch ? 15 : 0;\n    const methodScore = methodMatch ? 15 : 0;\n    const dateScore   = dateWindowFlag ? 5 : 10;\n    const confidenceScore = Math.round(ocrScore + amountScore + methodScore + dateScore);\n\n    const matchStatus = flags.length === 0 ? 'AUTO' : 'FLAG';\n\n    matchResults.push({\n      'Page Date': pageDate,\n      'Parsed Invoice ID': entry.invoice_id,\n      'DB Order ID': bestMatch[COL_ORDER_ID] || '',\n      'DB Legacy ID': bestMatch[COL_LEGACY_ID] || '',\n      'Payment Method (Page)': entry.payment_method,\n      'Payment Method (DB)': bestMatch[COL_METHOD] || '',\n      'Method Match': methodMatch ? 'YES' : 'NO',\n      'Amount (Page)': entry.amount,\n      'Amount (DB)': bestMatch[COL_AMOUNT_PAID] || '',\n      'Amount Match': amountMatch ? 'YES' : 'NO',\n      'Total After Discount (DB)': bestMatch[COL_TOTAL_DISCOUNT] || '',\n      'Remaining Balance (DB)': bestMatch[COL_REMAINING] || '',\n      'Payment Date (Current)': bestMatch[COL_PAYMENT_DATE] || '',\n      'Payment Date (To Update)': pageDate,\n      'Match Status': matchStatus,\n      'Flag Reason': flags.join('; '),\n      'Confidence Score': confidenceScore\n    });\n\n    // Store DB row update info (AUTO and FLAG matches only)\n    dbUpdates.push({\n      row_number: bestMatch._row_number,\n      updated_payment_date: pageDate,\n      confidence_score: confidenceScore,\n      match_status: matchStatus\n    });\n  }\n}\n\nreturn [{\n  json: { matchResults, parsedEntries, salesValidation, dbUpdates }\n}];"
      },
      "id": "node-07-matching-engine",
      "name": "Matching Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 420]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.parsedEntries.length > 0\n  ? data.parsedEntries.map(e => ({ json: e }))\n  : [{ json: { _skip: true } }];"
      },
      "id": "node-08-split-parsed",
      "name": "Split Parsed Entries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xPCzirPTvkIidTH-UEEuuiQujCF4g5TT7yxiIRCZCeI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1818513400",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "node-09-write-parsed",
      "name": "Write Parsed Entries",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1680, 160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.matchResults.length > 0\n  ? data.matchResults.map(m => ({ json: m }))\n  : [{ json: { _skip: true } }];"
      },
      "id": "node-10-split-matches",
      "name": "Split Match Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 360]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v30iK9szb5FZhqdlE1eU3mSCk_TL6RWL33g0TLhXkC8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1692460161",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "node-11-write-matches",
      "name": "Write Match Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1680, 360],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build a Google Sheets API batchUpdate request to write\n// 'Updated Payment Date' and 'Confidence Score' into the Orders DB\n// by exact row number.\n//\n// IMPORTANT: Set the correct column numbers below.\n// Count from left starting at 1.\n// Example: if 'Updated Payment Date' is the 18th column, set COL_UPDATED_DATE = 18\nconst COL_UPDATED_DATE  = 18; // <-- SET THIS\nconst COL_CONFIDENCE    = 19; // <-- SET THIS\nconst SHEET_TAB_NAME    = 'Sheet1'; // <-- SET THIS to your tab name\n\nconst data    = $input.first().json;\nconst updates = data.dbUpdates || [];\n\nif (updates.length === 0) {\n  return [{ json: { skipped: true } }];\n}\n\nconst batchData = updates.map(u => ({\n  range: `${SHEET_TAB_NAME}!R${u.row_number}C${COL_UPDATED_DATE}:R${u.row_number}C${COL_CONFIDENCE}`,\n  values: [[u.updated_payment_date, u.confidence_score]]\n}));\n\nreturn [{\n  json: {\n    valueInputOption: 'USER_ENTERED',\n    data: batchData\n  }\n}];"
      },
      "id": "node-12-build-db-update",
      "name": "Build DB Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1JGhwuigFr9_REdFbPZKYsAhJB8AfjwdhNNELTAcz8h0/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-13-update-orders-db",
      "name": "Update Orders DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 560],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.salesValidation.length > 0\n  ? data.salesValidation.map(s => ({ json: s }))\n  : [{ json: { _skip: true } }];"
      },
      "id": "node-14-split-sales",
      "name": "Split Sales Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 760]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F-MlE8hntCkOnYhJPMei894fj98vW2S2eC5apuwOd-U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1962703654",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "node-15-write-sales",
      "name": "Write Sales Validation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1680, 760],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Upload Ledger": {
      "main": [[{ "node": "Prepare Gemini Request", "type": "main", "index": 0 }]]
    },
    "Prepare Gemini Request": {
      "main": [[{ "node": "Gemini Vision API", "type": "main", "index": 0 }]]
    },
    "Gemini Vision API": {
      "main": [[{ "node": "Parse Gemini Response", "type": "main", "index": 0 }]]
    },
    "Parse Gemini Response": {
      "main": [[{ "node": "Read Orders DB", "type": "main", "index": 0 }]]
    },
    "Read Orders DB": {
      "main": [[{ "node": "Aggregate DB Rows", "type": "main", "index": 0 }]]
    },
    "Aggregate DB Rows": {
      "main": [[{ "node": "Matching Engine", "type": "main", "index": 0 }]]
    },
    "Matching Engine": {
      "main": [[
        { "node": "Split Parsed Entries",  "type": "main", "index": 0 },
        { "node": "Split Match Results",   "type": "main", "index": 0 },
        { "node": "Build DB Update",       "type": "main", "index": 0 },
        { "node": "Split Sales Validation","type": "main", "index": 0 }
      ]]
    },
    "Split Parsed Entries": {
      "main": [[{ "node": "Write Parsed Entries", "type": "main", "index": 0 }]]
    },
    "Split Match Results": {
      "main": [[{ "node": "Write Match Results", "type": "main", "index": 0 }]]
    },
    "Build DB Update": {
      "main": [[{ "node": "Update Orders DB", "type": "main", "index": 0 }]]
    },
    "Split Sales Validation": {
      "main": [[{ "node": "Write Sales Validation", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
